---
- name: Prepare Automation Controller
  hosts: localhost
  connection: local
  gather_facts: false
  pre_tasks:
    - name: Ensure required connection variables are defined
      ansible.builtin.assert:
        that:
          - lookup('env', 'CONTROLLER_HOST') is defined
          - lookup('env', 'CONTROLLER_HOST') | length > 0
          - lookup('env', 'CONTROLLER_USERNAME') is defined
          - lookup('env', 'CONTROLLER_USERNAME') | length > 0
          - lookup('env', 'CONTROLLER_PASSWORD') is defined
          - lookup('env', 'CONTROLLER_PASSWORD') | length > 0
        quiet: true
        fail_msg: "Variables for accessing Automation controller are missing! Export the variables."
  tasks:
    - name: Ensure all hosts from web group are enabled
      ansible.controller.host:
        controller_host: "{{ lookup('env', 'CONTROLLER_HOST') }}"
        controller_username: "{{ lookup('env', 'CONTROLLER_USERNAME') }}"
        controller_password: "{{ lookup('env', 'CONTROLLER_PASSWORD') }}"
        name: "{{ item }}"
        inventory: Workshop Inventory
        enabled: true
        validate_certs: true
      loop:
        - node1
        - node2
        - node3

    - name: Create job template for webserver installation
      ansible.controller.job_template:
        controller_host: "{{ lookup('env', 'CONTROLLER_HOST') }}"
        controller_username: "{{ lookup('env', 'CONTROLLER_USERNAME') }}"
        controller_password: "{{ lookup('env', 'CONTROLLER_PASSWORD') }}"
        name: Webserver Installation
        job_type: run
        inventory: Workshop Inventory
        project: QEP Repository
        execution_environment: Default execution environment
        playbook: playbook_webserver_deployment.yml
        credentials:
          - Workshop Credentials
        limit: web
        become_enabled: true

    - name: Create job template to deploy webserver content
      ansible.controller.job_template:
        controller_host: "{{ lookup('env', 'CONTROLLER_HOST') }}"
        controller_username: "{{ lookup('env', 'CONTROLLER_USERNAME') }}"
        controller_password: "{{ lookup('env', 'CONTROLLER_PASSWORD') }}"
        name: Webserver Content
        job_type: run
        inventory: Workshop Inventory
        project: QEP Repository
        execution_environment: Default execution environment
        playbook: playbook_deploy_welcome.yml
        credentials:
          - Workshop Credentials
        limit: web
        become_enabled: true

    - name: Create workflow for infrastructure setup and webserver content deployment
      ansible.controller.workflow_job_template:
        controller_host: "{{ lookup('env', 'CONTROLLER_HOST') }}"
        controller_username: "{{ lookup('env', 'CONTROLLER_USERNAME') }}"
        controller_password: "{{ lookup('env', 'CONTROLLER_PASSWORD') }}"
        name: Deploy Webserver
        destroy_current_nodes: true
        workflow_nodes:
          - identifier: Approve Deployment
            unified_job_template:
              name: Approve Deployment
              type: workflow_approval
            related:
              success_nodes:
                - identifier: Web App Deploy
          - identifier: Webserver Installation
            unified_job_template:
              name: Webserver Installation
              type: job_template
            related:
              success_nodes:
                - identifier: Node.js Deploy
          - identifier: Deploy Webserver Content
            unified_job_template:
              name: Webserver Content
              type: job_template

    - name: Launch workflow
      ansible.controller.workflow_launch:
        workflow_template: Deploy Webserver
        wait: false
