                                Hallo {{ webserver_owner }}

                                Herzlich willkommen bei Computacenter!

                           %#%#######          %%%#%%          ########%%
                     %%##############      %%##########%#      ##############%%
                  %##################     ###############%     ##################%
               %#####################    %#################    #####################%
             %#######################   %##################%   ########################
          %##################%%         %##################%         %##################%%
         %##############%%              %##################%              %###############%
       %##############           *+++    %################%    ++++           ##############%
      %#############       ++++++++++     %##############%     +++++++++*       %############%
     ############%      +++++++++++++       ############%      +++++++++++++      %###########%
    %##########%     *+++++++++++++++         %#%%%%#%         ++++++++++++++++     %###########
   ###########      +++++++++++++++++                          +++++++++++++++++      ###########
  %##########%    +++++++++++++                                      +++++++++++++     ##########%
 %##########     ++++++++++                                              ++++++++++     ###########
 %#########     +++++++++                                                  +++++++++     %#########
%##########    +++++++++                                                    +++++++++    %#########%
%#########%   +++++++++                                                      +++++++++   %##########
##########    ++++++++                                                        ++++++++    %#########
#########%    ++++++++                                                        ++++++++    %#########
#########%    ++++++++                                                        *+++++++    %#########
#########%    ++++++++                                                        ++++++++    %#########
#########%    ++++++++                                                        ++++++++    %#########
#########%    ++++++++                                                        ++++++++    %#########
##########%   +++++++++                                                      +++++++++   %#########%
%#########%    +++++++++                                                    +++++++++    ##########%
 ##########     +++++++++                                                  +++++++++     ##########
 %##########     ++++++++++                                              ++++++++++     ##########%
  %##########%    +++++++++++++                                      +++++++++++++     %#########%
   %##########      +++++++++++++++++                          +++++++++++++++++      ##########%
    ############     ++++++++++++++++                          ++++++++++++++++     %###########%
     %###########%      +++++++++++++                          +++++++++++++      %###########%
      %############%       *+++++++++                          ++++++++++       %############%
       %##############          +++++                          +++**          ##############%
         ###############%%                                                %%##############%
          %##################%%                                      %###################%
             %#######################                          ########################
               %#####################                          #####################%
                  %##################                          ##################%
                     %%##############                          #############%%%
                           %#########                          #########%